$color-blue: #0e0ba8;

body {
    background-color: #08be08
}

.title {
    font-size: 25px;
    color: $color-blue;
}

.block-violet {
    background-color: #4b0082;
    width: 400px;
    height: 400px;
}